# Ignore the virtual environment directory
.venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment-specific configuration files
.env

# Ignore IDE specific files (example for VSCode)
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp
.DS_Store

docs